openapi: 3.2.0
info:
  title: Global Relay Files API
  version: 2.0.0
  license:
    name: Proprietary
    url: https://www.globalrelay.com/legal/
  description: 'Operations tagged Files across 4 of this provider''s published API definitions: global-relay-conversation-archiving-api-openapi.yml, global-relay-email-archiving-api-openapi.yml, global-relay-event-archiving-api-openapi.yml, global-relay-voice-archiving-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://conversations.api.globalrelay.com/v2
  description: Production server
- url: https://email.api.globalrelay.com/v2
  description: Production server
- url: https://events.api.globalrelay.com/v2
  description: Production server
- url: https://voice.api.globalrelay.com/v2
  description: Production server
security:
- BearerAuth: []
tags:
- name: Files
  description: Endpoints for uploading file attachments
paths:
  /files:
    post:
      operationId: uploadFile
      summary: Global Relay Upload a file attachment
      description: Uploads a file attachment to be referenced in a conversation archive request. Files must be uploaded before they are referenced in a /conversations request with the File_transfer eventType. Rate limited to 100 requests per minute.
      tags:
      - Files
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FileUploadRequest'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
        '400':
          description: Bad request - invalid file data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - invalid or expired access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded - max 100 requests per minute
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://conversations.api.globalrelay.com/v2
      description: Production server
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        requestId:
          type: string
          format: uuid
          description: Request ID for troubleshooting
    FileResponse:
      type: object
      properties:
        fileId:
          type: string
          description: ID of the uploaded file
        status:
          type: string
          description: Status of the file upload
    FileUploadRequest:
      type: object
      required:
      - file
      - fileId
      properties:
        file:
          type: string
          format: binary
          description: The file to upload
        fileId:
          type: string
          description: Unique identifier for the file
        fileName:
          type: string
          description: Original filename
        contentType:
          type: string
          description: MIME type of the file
    FileUploadRequest_2:
      type: object
      required:
      - file
      - fileId
      properties:
        file:
          type: string
          format: binary
          description: The audio or video file to upload
        fileId:
          type: string
          description: Unique identifier for the file
        fileName:
          type: string
          description: Original filename
        contentType:
          type: string
          description: MIME type of the file (e.g., audio/wav, video/mp4)
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Client Credentials grant. Obtain a token from https://iam-oauth2.globalrelay.com/oauth2/token with grant_type=client_credentials and scope=openid conversation.
x-refined-from:
- global-relay-conversation-archiving-api-openapi.yml
- global-relay-email-archiving-api-openapi.yml
- global-relay-event-archiving-api-openapi.yml
- global-relay-voice-archiving-api-openapi.yml
